.env
/env

*.pyc
__pycache__/
env
# Ignorar arquivos de cache do Python
__pycache__/
*.pyc

# Ignorar ambientes virtuais
env/
venv/

# Ignorar arquivos de dados CSV
*.csv

# Ignorar arquivos temporários
*.tmp
*.log

# Ignorar arquivos do sistema (Windows e macOS)
.DS_Store
Thumbs.db
